.welcome {
  width: 1000px;
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  top: 0px;
  height: 430px;
  width: 105%;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 300%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 600px;
  text-align: justify;
  overflow: hidden;
}

.crawl {
  margin-top: 450px;
  position: relative;
  transform-origin: 50% 100%;
  animation: crawl 90s linear;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(30deg)  translateZ(0);
  }
  100% { 
    top: -6000px;
    transform: rotateX(15deg) translateZ(-2500px);
  }
}